a{
  text-decoration: none !important;
}
.f1{
  margin: 0;
}
.a{
    background-color: darkgreen;
    height: 1.7rem;
}
.a1{
    height: 20px;
    width: 15px;
    margin-left: 5.2rem;
    padding-top: 7px;
    position: absolute;
}
.a2{
    color: white;
    margin-left: 7rem;
    font-size: 12px;
    padding-top: 5px;
    position: absolute;
}
.a3{
    color: white;
    margin-left: 33rem;
    font-size: 12px;
    padding-top: 5px;
    font-weight: bold;
    position: absolute;
}
.a4{
    color: white;
    margin-left: 68rem;
    font-size: 12px;
    padding-top: 5px;
    position: absolute;
}
.a5{
    height: 6px;
    width: 8px;
    margin-left: 69.4rem;
    margin-top: 12px;
    position: absolute;
}
.a6{
    color: white;
    margin-left: 72rem;
    font-size: 12px;
    padding-top: 5px;
    position: absolute;
}
.a7{
    height: 6px;
    width: 8px;
    margin-left: 75.1rem;
    margin-top: 1px;
}
.b{
    height: 80px;
    width: 70px;
    margin-left: 4.8rem;
    position: absolute;
}
.b1{
    margin-left: 9rem;
    margin-top: 11px;
    font-weight: bold;
    margin-top: 1rem;
    color: rgb(4, 48, 4);
    font-size: 30px;
    position: absolute;
}
.b2{
    margin-left: 21rem;
    margin-top: 1.8rem;
    font-size: 14px;
    color: black;
    position: absolute;
}
.b3{
    height: 9px;
    width: 10px;
    margin-left: 25.6rem;
    margin-top: 2.3rem;
    position: absolute;  
}
.b4{
    margin-left: 29rem;
    position: absolute;
    margin-top: 1.7rem;
    color: black;
}
.b5{
    margin-left: 34rem;
    position: absolute;
    margin-top: 1.7rem;
    color: black;
}
.b6{
    margin-left: 42rem;
    position: absolute;
    margin-top: 1.7rem;
    color: black;
}
input[type=text] {
    width: 150px;
    height: 22px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-left: 50rem;
    border-radius: 4%;
    margin-top: 2rem;
    border-radius: 10%;
    position: absolute;
  }
  
  /* When the input field gets focus, change its width to 100% */
  input[type=text]:focus {
    width: 15%;
  }
  .b7{
    margin-left: 57.4rem;
    margin-top: 36px;
    height: 15px;
    width: 30px;
    position: absolute;
  }
  .b8{
    margin-left: 62.5rem;
    margin-top: 2.1rem;
    height: 20px;
    width: 25px;
    position: absolute;
  }
  .b9{
    margin-left: 65rem;
    margin-top: 1.9rem;
    color: black;
    position: absolute;
  }
  .b10{
    margin-left: 70.5rem;
    margin-top: 1.9rem;
    height: 28px;
    width: 50px;
    position: absolute;
  }
  .b11{
    margin-left: 73.8rem;
    margin-top: 1.9rem;
    color: black;
    position: absolute;
  }
  #c{
    margin-top: 4.5rem;
    margin-left: 5.8rem;
    background-color: rgb(249, 230, 234);
    height: 200px;
    width: 1120px;
  }
  .c1{
    margin-left: 4rem;
    padding-top: 2rem;
    font-size: 30px;
    font-weight: bold;
    color: rgb(4, 48, 4);
    position: absolute;
  }
  .button {
    background-color: #0e5110; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25%;
    margin-top: 1rem;
    position: absolute;
  }
  .c2{
    height: 200px;
    width: 400px;
    margin-left: 35rem;
    position: absolute;
  }
  .d{
    margin-left: 5.7rem;
    margin-top: 3rem;
    width: 170px;
    height: 35px;
    position: absolute;
  }
  .d1{
    height: 12px;
    width: 10px;
    margin-left: 15rem;
    margin-top: 63px;
    position: absolute;  
}
.d2{
  margin-left: 18rem;
  margin-top: 3rem;
  width: 83px;
  height: 35px;
  position: absolute;
}
.d3{
  height: 12px;
  width: 10px;
  margin-left: 21.8rem;
  margin-top: 63px;
  position: absolute;  
}
.d4{
  margin-left: 25rem;
  margin-top: 3rem;
  width: 88px;
  height: 35px;
  position: absolute;
}
.d5{
  height: 12px;
  width: 10px;
  margin-left: 471px;
  margin-top: 63px;
  position: absolute;  
}
.d6{
  margin-left: 32.5rem;
  margin-top: 3rem;
  width: 88px;
  height: 35px;
  position: absolute;
}
.d7{
  height: 12px;
  width: 10px;
  margin-left: 36.7rem;
  margin-top: 63px;
  position: absolute;  
}
.d8{
  margin-left: 40rem;
  margin-top: 3rem;
  width: 92px;
  height: 35px;
  position: absolute;
}
.d9{
  height: 12px;
  width: 10px;
  margin-left: 718px;
  margin-top: 63px;
  position: absolute;  
}
.d10{
  margin-left: 47.8rem;
  margin-top: 3rem;
  width: 80px;
  height: 35px;
  position: absolute;
}
.d11{
  height: 12px;
  width: 10px;
  margin-left: 51.7rem;
  margin-top: 63px;
  position: absolute;  
}
.d12{
  margin-left: 55rem;
  margin-top: 3rem;
  width: 110px;
  height: 35px;
  position: absolute;
}
.d13{
  height: 12px;
  width: 10px;
  margin-left: 60.8em;
  margin-top: 63px;
  position: absolute;  
}
.d14{
  margin-left: 70rem;
  margin-top: 3rem;
  width: 110px;
  height: 35px;
  position: absolute;
}
.d15{
  height: 12px;
  width: 10px;
  margin-left: 75.5em;
  margin-top: 63px;
  position: absolute;  
}
.e{
  font-size: 25px;
  font-weight: bold;
  margin-top: 8rem;
  margin-left: 6rem;
}
#e1{
  height: 200px;
  width: 250px;
  background-color: whitesmoke;
  margin-top: 2rem;
  margin-left: 6rem;
  border-radius: 5%;
  position: absolute;
}
.e2{
  height: 220px;
  width: 250px;
  position: absolute;
}
.e3{
  margin-top: 13rem;
  font-weight: bold;
  font-size: 15px;
  position: absolute;
}
.e4{
  font-weight: bold;
  margin-left: 13rem;
  margin-top: 13rem;
  position: absolute;
}
.e5{
  margin-top: 15rem;
  font-size: 12px;
  position: absolute;
}
.e6{
  height: 20px;
  width: 100px;
  margin-top: 16.8rem;
  position: absolute;
}
.e7{
  margin-top: 16.5rem;
  margin-left: 7rem;
  position: absolute;
}
.e8{
  margin-top: 19rem;
  background-color: whitesmoke;
  border-radius: 10%;
  margin-left: 0.5rem;
}
.e9{
  height: 35px;
  width: 30px;
  margin-left: 12.8rem;
  margin-top: 0.8rem;
  position: absolute;
}
#f{
  height: 200px;
  width: 250px;
  background-color: whitesmoke;
  margin-top: 2rem;
  margin-left: 24rem;
  border-radius: 5%;
  position: absolute;
}
.f1{
  height: 180px;
  width: 180px;
  margin-left: 2rem;
  position: absolute;
}
.f2{
  font-weight: bold;
  font-size: 15px;
  margin-top: 13rem;
  position: absolute;
}
.f3{
  margin-left: 12rem;
  font-weight: bold;
  margin-top: 13rem;
  position: absolute;
}
.f4{
  margin-top: 1.5rem;
  font-size: 12px ;
  margin-top: 15rem;
  position: absolute;
}
.f5{
  height: 20px;
  width: 100px;
  margin-top: 16.5rem;
  position: absolute;
}
.f6{
  margin-left: 7rem;
  margin-top: 16.5rem;
  position: absolute;
}
.f7{
  margin-top: 19rem;
  background-color: whitesmoke;
  border-radius: 10%;
  margin-left: 0.5rem;
}
.f8{
  height: 35px;
  width: 30px;
  margin-left: 12.8rem;
  margin-top: 0.8rem;
  position: absolute;
}
#g{
  height: 200px;
  width: 250px;
  background-color: whitesmoke;
  margin-top: 2rem;
  margin-left: 42rem;
  border-radius: 5%;
  position: absolute;
}
.g1{
  height: 155px;
  width: 155px;
  margin-left: 2.5rem;
  margin-top: 1.5rem;
  position: absolute;
}
.g2{
  font-weight: bold;
  font-size: 15px;
  margin-top: 13rem;
  margin-left: 1rem;
  position: absolute;
}
.g3{
  margin-left: 12rem;
  font-weight: bold;
  margin-top: 13rem;
  position: absolute;
}
.g4{
  margin-top: 1.5rem;
  font-size: 12px ;
  margin-top: 15rem;
  margin-left: 1rem;
  position: absolute;
}
.g5{
  height: 20px;
  width: 100px;
  margin-left: 0.5rem;
  margin-top: 16.5rem;
  position: absolute;
}
.g6{
  margin-left: 8rem;
  margin-top: 16.5rem;
  position: absolute;
}
.g7{
  margin-top: 19rem;
  background-color: whitesmoke;
  border-radius: 10%;
  margin-left: 1rem;
  position: absolute;
}
.g8{
  height: 35px;
  width: 30px;
  margin-left: 12.8rem;
  margin-top: 0.8rem;
  position: absolute;
}
#i{
  height: 200px;
  width: 250px;
  background-color: whitesmoke;
  margin-top: 2rem;
  margin-left: 60rem;
  border-radius: 5%;
  position: absolute;
}
.i1{
  height: 155px;
  width: 155px;
  margin-left: 2.5rem;
  margin-top: 1.5rem;
  position: absolute;
}
.i2{
  font-weight: bold;
  font-size: 15px;
  margin-top: 13rem;
  margin-left: 1rem;
  position: absolute;
}
.i3{
  margin-left: 12rem;
  font-weight: bold;
  margin-top: 13rem;
  position: absolute;
}
.i4{
  margin-top: 1.5rem;
  font-size: 12px ;
  margin-top: 15rem;
  margin-left: 1rem;
  position: absolute;
}
.i5{
  height: 20px;
  width: 100px;
  margin-left: 0.5rem;
  margin-top: 16.5rem;
  position: absolute;
}
.i6{
  margin-left: 8rem;
  margin-top: 16.5rem;
  position: absolute;
}
.i7{
  margin-top: 19rem;
  background-color: whitesmoke;
  border-radius: 10%;
  margin-left: 1rem;
}
.i8{
  height: 35px;
  width: 30px;
  margin-left: 12.8rem;
  margin-top: 0.8rem;
  position: absolute;
}
#j{
  height: 200px;
  width: 250px;
  background-color: whitesmoke;
  margin-top: 24.5rem;
  margin-left: 5.8rem;
  border-radius: 5%;
  position: absolute;
}
.j1{
  height: 155px;
  width: 155px;
  margin-left: 2.5rem;
  margin-top: 1.5rem;
  position: absolute;
}
.j2{
  font-weight: bold;
  font-size: 15px;
  margin-top: 13rem;
  position: absolute;
}
.j3{
  margin-left: 12rem;
  font-weight: bold;
  margin-top: 13rem;
  position: absolute;
}
.j4{
  margin-top: 1.5rem;
  font-size: 12px ;
  margin-top: 15rem;
  position: absolute;
}
.j5{
  height: 20px;
  width: 100px;
  margin-top: 16.5rem;
  position: absolute;
}
.j6{
  margin-left: 7rem;
  margin-top: 16.4rem;
  position: absolute;
}
.j7{
  margin-top: 18.9rem;
  background-color: whitesmoke;
  border-radius: 10%;
}
.j8{
  height: 35px;
  width: 30px;
  margin-left: 12.8rem;
  margin-top: 0.8rem;
  position: absolute;
}
#k{
  height: 200px;
  width: 250px;
  background-color: whitesmoke;
  margin-top: 24.5rem;
  margin-left: 24rem;
  border-radius: 5%;
  position: absolute;
}
.k1{
  height: 155px;
  width: 155px;
  margin-left: 3rem;
  margin-top: 1.3rem;
  position: absolute;
}
.k2{
  font-weight: bold;
  font-size: 15px;
  margin-top: 13rem;
  position: absolute;
}
.k3{
  margin-left: 12rem;
  font-weight: bold;
  margin-top: 13rem;
  position: absolute;
}
.k4{
  margin-top: 1.5rem;
  font-size: 12px ;
  margin-top: 15rem;
  position: absolute;
}
.k5{
  height: 20px;
  width: 100px;
  margin-top: 16.5rem;
  position: absolute;
}
.k6{
  margin-left: 7rem;
  margin-top: 16.5rem;
  position: absolute;
}
.k7{
  margin-top: 19rem;
  background-color: whitesmoke;
  border-radius: 10%;
  margin-left: 0.5rem;
}
.k8{
  height: 35px;
  width: 30px;
  margin-left: 12.8rem;
  margin-top: 0.8rem;
  position: absolute;
}
#l{
  height: 200px;
  width: 250px;
  background-color: whitesmoke;
  margin-top: 24.5rem;
  margin-left: 42rem;
  border-radius: 5%;
  position: absolute;
}
.l1{
  height: 155px;
  width: 155px;
  margin-left: 2.5rem;
  margin-top: 1.5rem;
  position: absolute;
}
.l2{
  font-weight: bold;
  font-size: 15px;
  margin-top: 13rem;
  margin-left: 0.5rem;
  position: absolute;
}
.l3{
  margin-left: 12rem;
  font-weight: bold;
  margin-top: 13rem;
  position: absolute;
}
.l4{
  margin-top: 1.5rem;
  font-size: 12px ;
  margin-top: 15rem;
  margin-left: 0.5rem;
  position: absolute;
}
.l5{
  height: 20px;
  width: 100px;
  margin-left: 0.5rem;
  margin-top: 16.5rem;
  position: absolute;
}
.l6{
  margin-left: 8rem;
  margin-top: 16.5rem;
  position: absolute;
}
.l7{
  margin-top: 19rem;
  background-color: whitesmoke;
  border-radius: 10%;
  margin-left: 0.5rem;
  position: absolute;
}
.l8{
  height: 35px;
  width: 30px;
  margin-left: 12.8rem;
  margin-top: 0.8rem;
  position: absolute;
}
#m{
  height: 200px;
  width: 250px;
  background-color: whitesmoke;
  margin-top: 24.5rem;
  margin-left: 60rem;
  border-radius: 5%;
  position: absolute;
}
.m1{
  height: 155px;
  width: 155px;
  margin-left: 2.5rem;
  margin-top: 1.5rem;
  position: absolute;
}
.m2{
  font-weight: bold;
  font-size: 15px;
  margin-top: 13rem;
  margin-left: 1rem;
  position: absolute;
}
.m3{
  margin-left: 12rem;
  font-weight: bold;
  margin-top: 13rem;
  position: absolute;
}
.m4{
  margin-top: 1.5rem;
  font-size: 12px ;
  margin-top: 15rem;
  margin-left: 1rem;
  position: absolute;
}
.m5{
  height: 20px;
  width: 100px;
  margin-left: 0.5rem;
  margin-top: 16.5rem;
  position: absolute;
}
.m6{
  margin-left: 8rem;
  margin-top: 16.5rem;
  position: absolute;
}
.m7{
  margin-top: 19rem;
  background-color: whitesmoke;
  border-radius: 10%;
  margin-left: 1rem;
}
.m8{
  height: 35px;
  width: 30px;
  margin-left: 12.8rem;
  margin-top: 0.8rem;
  position: absolute;
}
.n{
  font-size: 25px;
  font-weight: bold;
  margin-top: 48rem;
  margin-left: 6rem;
}
#n1{
  height: 200px;
  width: 250px;
  background-color: whitesmoke;
  margin-top: 2rem;
  margin-left: 6rem;
  border-radius: 5%;
  position: absolute;
}
.n2{
  height: 160px;
  width: 160px;
  margin-left: 2rem;
  margin-top: 1.5rem;
  position: absolute;
}
.n3{
  margin-top: 13rem;
  font-weight: bold;
  font-size: 15px;
  position: absolute;
}
.n4{
  font-weight: bold;
  margin-left: 13rem;
  margin-top: 13rem;
  position: absolute;
}
.n5{
  margin-top: 15rem;
  font-size: 12px;
  position: absolute;
}
.n6{
  height: 20px;
  width: 100px;
  margin-top: 16.8rem;
  position: absolute;
}
.n7{
  margin-top: 16.5rem;
  margin-left: 7rem;
  position: absolute;
}
.n8{
  margin-top: 19rem;
  background-color: whitesmoke;
  border-radius: 10%;
  margin-left: 0.5rem;
  position: absolute;
}
.n9{
  height: 35px;
  width: 30px;
  margin-left: 12.8rem;
  margin-top: 0.8rem;
  position: absolute;
}
#o{
  height: 200px;
  width: 250px;
  background-color: whitesmoke;
  margin-top: 2rem;
  margin-left: 24rem;
  border-radius: 5%;
  position: absolute;
}
.o1{
  height: 165px;
  width: 165px;
  margin-left: 3rem;
  margin-top: 1.3rem;
  position: absolute;
}
.o2{
  font-weight: bold;
  font-size: 15px;
  margin-top: 13rem;
  position: absolute;
}
.o3{
  margin-left: 11rem;
  font-weight: bold;
  margin-top: 13rem;
  position: absolute;
}
.o4{
  margin-top: 1.5rem;
  font-size: 12px ;
  margin-top: 15rem;
  position: absolute;
}
.o5{
  height: 20px;
  width: 100px;
  margin-top: 16.5rem;
  position: absolute;
}
.o6{
  margin-left: 7rem;
  margin-top: 16.5rem;
  position: absolute;
}
.o7{
  margin-top: 19rem;
  background-color: whitesmoke;
  border-radius: 10%;
  margin-left: 0.5rem;
  position: absolute;
}
.o8{
  height: 35px;
  width: 30px;
  margin-left: 12.8rem;
  margin-top: 0.8rem;
  position: absolute;
}
#p{
  height: 200px;
  width: 250px;
  background-color: whitesmoke;
  margin-top: 2rem;
  margin-left: 42.5rem;
  border-radius: 5%;
  position: absolute;
}
.p1{
  height: 155px;
  width: 155px;
  margin-left: 2.5rem;
  margin-top: 1.5rem;
  position: absolute;
}
.p2{
  font-weight: bold;
  font-size: 15px;
  margin-top: 13rem;
  margin-left: 0.5rem;
  position: absolute;
}
.p3{
  margin-left: 12rem;
  font-weight: bold;
  margin-top: 13rem;
  position: absolute;
}
.p4{
  margin-top: 1.5rem;
  font-size: 12px ;
  margin-top: 15rem;
  margin-left: 0.5rem;
  position: absolute;
}
.p5{
  height: 20px;
  width: 100px;
  margin-left: 0.5rem;
  margin-top: 16.5rem;
  position: absolute;
}
.p6{
  margin-left: 8rem;
  margin-top: 16.5rem;
  position: absolute;
}
.p7{
  margin-top: 19rem;
  background-color: whitesmoke;
  border-radius: 10%;
  margin-left: 0.5rem;
}
.p8{
  height: 35px;
  width: 30px;
  margin-left: 12.8rem;
  margin-top: 0.8rem;
  position: absolute;
}
#q{
  height: 200px;
  width: 250px;
  background-color: whitesmoke;
  margin-top: 2rem;
  margin-left: 60.8rem;
  border-radius: 5%;
  position: absolute;
}
.q1{
  height: 155px;
  width: 155px;
  margin-left: 2.5rem;
  margin-top: 1.5rem;
  position: absolute;
}
.q2{
  font-weight: bold;
  font-size: 15px;
  margin-top: 13rem;
  position: absolute;
}
.q3{
  margin-left: 13rem;
  font-weight: bold;
  margin-top: 13rem;
  position: absolute;
}
.q4{
  margin-top: 1.5rem;
  font-size: 12px ;
  margin-top: 15rem;
  position: absolute;
}
.q5{
  height: 20px;
  width: 100px;
  margin-top: 16.5rem;
  position: absolute;
}
.q6{
  margin-left: 7.5rem;
  margin-top: 16.5rem;
  position: absolute;
}
.q7{
  margin-top: 19rem;
  background-color: whitesmoke;
  border-radius: 10%;
}
.q8{
  height: 35px;
  width: 30px;
  margin-left: 12.8rem;
  margin-top: 0.8rem;
  position: absolute;
}
#r{
  background-color: darkgreen;
  width: 300px;
  height: 300px;
  margin-top: 50rem;

}

